<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>017UrlReWriting</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<description></description>
		<display-name>PersonForwardController</display-name>
		<servlet-name>PersonForwardController</servlet-name>
		<servlet-class>com.vidvaan.controller.PersonForwardController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PersonForwardController</servlet-name>
		<url-pattern>/personcontroller</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ServletDemo</display-name>
		<servlet-name>ServletDemo</servlet-name>
		<servlet-class>com.vidvaan.controller.ServletDemo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletDemo</servlet-name>
		<url-pattern>/servletdemo</url-pattern>
	</servlet-mapping>

</web-app>