<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>015EmployeeWebAppEX</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
   
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EmployFindAllController</display-name>
    <servlet-name>EmployFindAllController</servlet-name>
    <servlet-class>com.vidvaan.controller.EmployFindAllController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployFindAllController</servlet-name>
    <url-pattern>/getAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertConroller</display-name>
    <servlet-name>InsertConroller</servlet-name>
    <servlet-class>com.vidvaan.controller.InsertConroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertConroller</servlet-name>
    <url-pattern>/insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteController</display-name>
    <servlet-name>DeleteController</servlet-name>
    <servlet-class>com.vidvaan.controller.DeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteController</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateController</display-name>
    <servlet-name>UpdateController</servlet-name>
    <servlet-class>com.vidvaan.controller.UpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateController</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
</web-app>